body {
	background: #eee;
	color: #333;
	font-size: 18px;
}
#content {
	width: 80%;
	margin: 100px auto;
	max-width: 1000px;
	overflow-x: hidden;
}
hr {
	margin-top: 100px;
	margin-bottom: 100px;
}
#description-html li {
	margin-top: 30px;
	margin-bottom: 30px;
}
.voice-container {
	background: #fff;
	padding-top: 1px;
	padding-bottom: 1px;
}
button {
	font-size: 20px;
	padding: 8px;
}
